<div class="center jumbotron">
  <h1>Welcome to The Grinch</h1>
  <h2>
    Everybody needs to grinch about something!
  </h2>
  <%= link_to 'Register now!', register_path, class: "btn btn-lg btn-primary" %>
</div>

<div>
  <h3>Hot Complaints:</h3>
  <% @posts = Post.limit(5).order("RANDOM()") %>
  <% @posts.each do |post| %>
    <div class="row content">
      <div style="width: 15%">
        <div>
          <img src="" class="img-circle" alt="owner profile picture">
        </div>
        <div>
          <p>
            <%= link_to post.user.nickname, user_path(post.user) %>
          </p>
        </div>
      </div>
      <div>
        <h3>
          <%= link_to post.title , post_path(post) %>
        </h3>
        <p>
          <%= post.description %>
        </p>
      </div>
    </div>
  <% end %>
</div>