<div class="center jumbotron">

  <% if user_signed_in? %>
    <h1>Welcome back, <%= current_user.nickname %>!</h1>
    <h2>Let out your little Grinch</h2>
    <%= link_to 'Create a Complaint', new_post_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <h1>Welcome to The Grinch</h1>
    <h2>
      Everybody needs to grinch about something!
    </h2>
    <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<div>
  <h3>Hot Complaints:</h3>
  <% @posts = Post.limit(5).order("RANDOM()") %>
  <%= render @posts %>
</div>