<div class="center jumbotron">
  <h1>Welcome to The Grinch</h1>
  <h2>
    Everybody needs to grinch about something!
  </h2>
  <%= link_to 'Register now!', register_path, class: "btn btn-lg btn-primary" %>
</div>

<div>
  <p class='home'> Recent Complaints: </p>
  <% @posts = Post.limit(5).order("RANDOM()") %>
  <% @posts.each do |post| %>
    <h3>
      <%= link_to post.title , post_path(post) %>
    </h3>
  <% end %>
</div>