// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

.btn_link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  text-align: left;
  background: rgba(255,204,0,1);
  border: 0px;
  transition: 0.3s;
  /* When you mouse over the navigation links, change their color */
  &:hover {
    color: #f1f1f1;
    background: black;
  }
}

.description{
  text-align: left;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.jumbotron{
  background: rgba(255,204,0,.5);
}

a{
  .link-to-text-color{
    color: #c19813
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: white
}
p{
  color: white
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: white;
}

label{
  color: white;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: darkgray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/* OUR SIDEBAR */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: rgb(47, 159, 8); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border: 3px solid black;
  /* The navigation menu links */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    /* When you mouse over the navigation links, change their color */
    &:hover {
      color: #f1f1f1;
    }
  }
  a.nonono {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: gray;
    display: block;
    transition: 0.3s;
  }
  p {
    font-size: 15px;
    color: black;
  }
  p.alertnonono {
    font-size: 20px;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 80px;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.div_main {
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  height: 100%;
  background: rgb(47, 159, 8);
}

.div_secondary {
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  height: 100%;
}

.navbar-fixed-top{
  background: rgb(47, 159, 8);
}

p.home {
  font-size: 25px;
}