<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<% @categories.each do |category| %>
  <%= link_to 'Edit', categories_update_path%>
  <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'Create Category', categories_create_path %>