<nav class="navbar navbar-inverse navbar-fixed-top admin-bar">
  <div class="container">
    <h4  id="admin-nav-title">
      Admin's nav-bar:
    </h4>
    <div>
      <%= link_to "All users", users_path, class: "btn btn-primary" %>
      <%= link_to "Categories", categories_path, class: "btn btn-primary" %>
    </div>
  </div>
</nav>