<footer class="footer">
  <small>
    The Grinch<br>
    by Raimundo Gonzalez & Gustavo Vicuña
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>