<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "The Grinch", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <form class="navbar-form navbar-left" action="">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn_link" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      <ul class="nav navbar-nav">
        <li><%= link_to "Log in", '/login' , class: "link-header"%></li>
        <li><%= link_to "Register", '/register', class: "link-header" %></li>
      </ul>
      <img src="" class="img-circle" alt="logged profile picture" >
    </div>
  </div>
</nav>
